/*background*/
.glaze-bg-a{
    background: url('../img/Banner/Desktop/WaterPurifier/Glaze/CWH010_b1.jpg');
    margin-top: 4rem;
    height: 100vh !important;
}

.glaze-bg-b{
    background: url('../img/Banner/Desktop/WaterPurifier/Glaze/CWH012_b1.jpg');
    height: 100vh !important;
}

.glaze-bg-c{
    background: url('../img/Banner/Desktop/WaterPurifier/Glaze/CWH013_a1.jpg');
    height: 100vh !important;
}

.glaze-bg-d{
    background: url('../img/Banner/Desktop/WaterPurifier/Glaze/CWH014_c1_2.jpg');
    height: 100vh !important;
}

.glaze-bg-e{
    background: url('../img/Banner/Desktop/WaterPurifier/Glaze/CWH015_b1_1.jpg');
    height: 100vh !important;
}

.glaze-bg-f{
    background: url('../img/Banner/Desktop/WaterPurifier/Glaze/CWH016_c1_2-01.jpg');
}

.glaze-bg-g{
    background: url('../img/Banner/Desktop/WaterPurifier/Glaze/CWH017_a1.jpg');
    height: 100vh !important;
}

.glaze-bg-h{
    background: url('../img/Banner/Desktop/WaterPurifier/Glaze/CWH018_b1.jpg');
    height: 100vh !important;
}

.glaze-bg-i{
    background: url('../img/Banner/Desktop/WaterPurifier/Glaze/CWH019_a1_1.jpg');
    height: 100vh !important;
}

.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh !important;
}

/*section a*/
.three-grid{
    display: grid;
    grid-template-rows: 5rem 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
}

.three-grid img{
    width: 60px;
    height: 60px;
}

.glaze-a-icon1{
    grid-row: 1/2;
    grid-column: 1/2;
}

.glaze-a-icon2{
    grid-row: 1/2;
    grid-column: 2/3;
}

.glaze-a-icon3{
    grid-row: 1/2;
    grid-column: 3/-1;
}

/*section j*/
.card-slide{
    height: 45rem;
}


/*section k*/
.glaze-bg-k{
    background: rgb(31, 30, 30);
    height: 100vh !important;
}

.glaze-img{
    height: 70% !important;
    width: 70% !important;
}

.white-text{
    color: white !important;
}

.icon-filter::before {
    content: url("../icons/Specs_Icons/filter.svg");
}

.icon-consumption::before {
    content: url("../icons/Specs_Icons/power_consumption.svg");
}

.icon-weight::before {
    content: url("../icons/Specs_Icons/net_weight.svg");
}

.icon-dimension::before {
    content: url("../icons/Specs_Icons/dimension.svg");
}

.icon-capacity::before {
    content: url("../icons/Specs_Icons/tank_capacity.svg");
}