/*background*/
.neoplus-bg-a{
    background: url('../img/Banner/Desktop/WaterPurifier/Neoplus/CWH107_a1.jpg');
    height: 100vh !important;
}
.neoplus-bg-b{
    background: url('../img/Banner/Desktop/WaterPurifier/Neoplus/CWH109_a1.jpg');
    height: 100vh !important;
}
.neoplus-bg-c{
    background: url('../img/Banner/Desktop/WaterPurifier/Neoplus/CWH110_a1.jpg');
    height: 100vh !important;
}
.neoplus-bg-d{
    background: url('../img/Banner/Desktop/WaterPurifier/Neoplus/CWH111_a1.jpg');
    height: 100vh !important;
}
.neoplus-bg-e{
    background: url('../img/Banner/Desktop/WaterPurifier/Neoplus/CWH112_b1.jpg');
    height: 100vh !important;
}
.neoplus-bg-f{
    background: url('../img/Banner/Desktop/WaterPurifier/Neoplus/CWH113_a1.jpg');
    height: 100vh !important;
}
.neoplus-bg-g{
    background: url('../img/Banner/Desktop/WaterPurifier/Neoplus/CWH114_a1.jpg');
    height: 100vh !important;
}
.neoplus-bg-h{
    background: url('../img/Banner/Desktop/WaterPurifier/Neoplus/CWH115_a1-01.jpg');
    height: 100vh !important;
}

.neoplus-bg-i{
    background: url('../img/Banner/Desktop/WaterPurifier/Neoplus/CWH116_a1.jpg');
    height: 100vh !important;
}

.neoplus-bg-j{
    background: url('../img/Banner/Desktop/WaterPurifier/Neoplus/CWH117_a1.jpg');
    height: 100vh !important;
}

.neoplus-bg-k{
    background: rgb(236, 236, 236);
    height: 100vh !important;
}

.neoplus-bg-l{
    background: rgb(31, 30, 30);
    height: 100vh !important;
}

.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh !important;
}

/*section a*/
.three-grid{
    display: grid;
    grid-template-rows: 5rem 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
}

.three-grid img{
    width: 60px;
    height: 60px;
}

.neoplus-a-icon1{
    grid-row: 1/2;
    grid-column: 1/2;
}

.neoplus-a-icon2{
    grid-row: 1/2;
    grid-column: 2/3;
}

.neoplus-a-icon3{
    grid-row: 1/2;
    grid-column: 3/-1;
}
/*specs icons*/
.icon-filter::before {
    content: url("../icons/Specs_Icons/filter.svg");
}

.icon-consumption::before {
    content: url("../icons/Specs_Icons/power_consumption.svg");
}

.icon-weight::before {
    content: url("../icons/Specs_Icons/net_weight.svg");
}

.icon-dimension::before {
    content: url("../icons/Specs_Icons/dimension.svg");
}

.icon-capacity::before {
    content: url("../icons/Specs_Icons/tank_capacity.svg");
}

/*section i*/
.card-slide{
    height: 45rem;
}
