.font-38{
    font-size: 38px !important;
}
.first-desc{
    position: absolute;
    top: 30%;
    left: 60%;
}

.first-desc h1{
    font-size: 38px !important;
}

.first-desc h6{
    font-size: 18px !important;
}

.first-desc b{
    font-size: 38px !important;
}

.details{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.details-para {
    font-size: 20px !important;
}

.white-text{
    color: white !important;
}

/*specs*/
.specs-background{
    background: #281c1c;
    height: auto !important;
}

.specs-heading{
    color: white !important;
}

.specs-img{
    height: 80% !important;
    width: 60% !important;
}

.details-specs {
    color: white !important;
    font-size: 20px !important;
    margin-bottom: 5% !important;
}

.sub__heading {
    font-size: 20px !important;
    margin-bottom: 30px !important;
}

/*card*/
#specs-owl-carousel{
    margin: 0 60px 20px 60px;
}
.card-slide{
    height: 500px;
    width: auto;
    
} 

.img-cardsection{
    height: 100% !important;
    width: 100% !important;
}

.card-imgbg{
    height: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: rgb(240, 238, 238);
}

.card-body-carousel{
    height: 200px;
    background-color: rgb(255, 255, 255) !important;
}

.card-text{
    color: #808080;
    font-size: medium;
    padding: 5% 2.5% 5% 2.5%;
}

.card-title{
    font-size: x-large;
    font-weight: 700;
    padding: 5% 2.5% 0 2.5%;
    margin-bottom: 0 !important;
}

.specs-owl-carousel-heading h1{
    font-size: 34px !important;
}

.specs-owl-carousel-heading p{
    font-size: 20px !important;
}

.specify-list{
    display: flex;
}

.specify-list .specify-icon{
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* desktop carousel*/
.desktop-carousel-first{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 2%;
}

.desktop-carousel-a{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 30px;
}

.desktop-carousel-b{
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 30px;
}

.desktop-carousel-c{
    grid-row: 1/2;
    grid-column: 3/-1;
    margin: 30px;
}

.desktop-carousel-second{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 19%;
}

.desktop-carousel-d{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 30px;
}

.desktop-carousel-e{
    grid-row: 1/2;
    grid-column: 2/-1;
    margin: 30px;
}